<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Welcome to MicroBlog</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- styles -->
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<link href="../static/css/override_defaults.css" rel="stylesheet">
	</head>

	<body>
		<div class="topbar">
			<div class="fill">
				<div class="container">
					<a class="brand" href="#">MicroBlog</a>
					<ul class="nav">
						{% if not session.logged_in %}
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#posts">Posts</a></li>
						<li><a href="#following">Following</a></li>
						<li><a href="#follower">Follower</a></li>
						<li><a href="#find">Find Blog</a></li>
						<li><a href="#about">About</a></li>
						{% else %}
						<li class="active"><a href="{{ url_for('index')}}">Home</a></li>
						<li><a href="#posts">Posts</a></li>
						<li><a href="{{ url_for('following') }}">Following</a></li>
						<li><a href="#follower">Follower</a></li>
						<li><a href="{{ url_for('find')}}">Find Blog</a></li>
						<li><a href="#about">About</a></li>
						{% endif %}
					</ul>
					<form action="{{ url_for('login')}}" method="post" class="pull-right">
						{% if not session.logged_in %}
						<input class="input-small" type="text" name="username" placeholder="Username">
						<input class="input-small" type="password" name="password" placeholder="Password">
						<button class="btn" type="submit">Sign in</button>
						<button class="btn" type="button" onclick="javascript:window.location.href='{{url_for('signup')}}';">Sign up</button>
						{% else %}
						<button class="btn" type="button" onclick="javascript:window.location.href='{{url_for('signout')}}';">Sign out</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>

		<div class="container">

			<div class="content">
				{% block content %}{% endblock %}
			</div>

			<footer>
				<p>Copyright &copy; MicroBlog 2014</p>
			</footer>

		</div>

	</body>
</html>
