{% extends '__base__.html' %}

{% block content %}
<div class="page-header">
	{% if session.logged_in %}
	<h1>{{ session.username }}&nbsp;&nbsp;<small>Find new anytime and anywhere~</small></h1>
	{% else %}
	<h1>Guest&nbsp;&nbsp;<small>Find new anytime and anywhere~</small></h1>
	{% endif %}
</div>
<div class="hero-unit">
	<h2>Have something new to tell you</h2>
	<br>
	<p>
		<textarea rows="5">
haha
		</textarea>
	</p>
	<p><a class="btn primary large" style="float:right;">Post &raquo;</a></p>
</div>
<hr>

<div class="row">
	<div class="span">
		<h2>Ellery</h2>
		<p>hahahahahahhahahahah</p>
		<p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
</div>
<hr>

{% endblock %}
