<!-- extend from base layout -->
{% extends '__base__.html' %}

{% block content %}
<div class="page-header">
	<h1>Sign In</h1>
</div>

<div class="row">
	<div class="span">
		{% if error %}<p class=error><font color="red"><strong>Error:</strong> {{ error }}</font>{% endif %}
		<form action="{{ url_for('login')}}" method="post">
			<table border="0">
				<tr>
					<td align="right">Username:</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td align="right">Password:</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td rows="2"><input type="submit" value="Submit"></td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}